.logo{
    width: 10vh;
}

.text-travel {
    color: red !important;
}

#main .carousel-inner img {
    max-height: 70vh;
    object-fit: cover;
}

#carousel{
    position: relative;
}

#carousel .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
}

#carousel .overlay .container,
#carousel .overlay .row{
    height: 100%;
}

.content-pizza{
    background-color:   #68727bc9;
    color: white;
}

.content-pizza h2{
    font-weight: 500;
}

.content-pizza p{
    font-size:  15px;
}

#tips-container{
    padding: 3rem 0 3rem 0;
}

#Gastronomy .food-images img{
    height: 95%;
    width: 80%;
}

#footer {
    background-color: black;
}

#footer a{
    color: white;
}
