.logo{
    width: 8vh;
}

.text-travel {
    color: red !important;
}

#main .carousel-inner img {
    max-height: 70vh;
    object-fit: cover;
}

#carousel{
    position: relative;
}

#carousel .overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: white;
}

#carousel .overlay .container,
#carousel .overlay .row{
    height: 100%;
}

.content-pizza{
    background-color: black;
    color: white;
}

.content-pizza h2{
    font-weight: 500;
}

.content-pizza p{
    font-size:  15px;
}

#history-container h5{
    font-weight: 200;
}

#history-container .italy-maps img{
    width: 75%;
    height: 100%;
}

#tips-container{
   padding-top: 2rem;
   padding-bottom: 2rem;
}

#Gastronomy h4{
    font-weight: 100;
}

#Gastronomy .food-images img:hover{
    opacity: 0.5;
    transform: scale(1.1,1.1);
}
#Gastronomy .food-images img{
    height: 95%;
    width: 80%;
}

#travel-container{
    background-color: #75646d;
    color: white;
}

#travel-container h5{
    font-weight: 100;
}

#footer {
    background-color: black;
    color: white;
}

#footer h5{
    font-weight: 100;
}

/* Media Querys  */

@media only screen and (max-width: 320px){
    #Gastronomy .wine-photo img{
        width: 280px;
    }

    #Gastronomy h4{
        font-size: 100%;
    }

    #tips-container img{
        width: 81%;
    }

    #tips-container {
        font-size: 12px;
    }
}

@media only screen and (max-width: 480px){
    #Gastronomy .wine-photo img{
        width: 350px;
    }

    #Gastronomy h4{
        font-size: 1.2rem;
    }

    #tips-container img{
        width: 50%;
    }

    #tips-container {
        font-size: 12px;
    }

    #footer h5{
        font-size: 100%;
    }
}

@media only screen and (max-width: 576px){
    #Gastronomy .wine-photo img{
        width: 435px;
    }

    #Gastronomy .food-images img{
        height: 95%;
        width: 60%;
    }

    #Gastronomy h4{
        font-size: 1.2rem;
    }

    #tips-container img{
        width: 50%;
    }

    #tips-container {
        font-size: 1.1rem;
    }

    #footer h5{
        font-size: 100%;
    }
}

@media only screen and (max-width: 768px){
    #Gastronomy .wine-photo img{
        width: 350px;
    }

    #Gastronomy .food-images img{
        height: 95%;
        width: 60%;
    }

    #Gastronomy h4{
        font-size: 1.1rem;
    }

    #tips-container img{
        width: 100%;
    }

    #tips-container {
        font-size: 1.1rem;
    }

    #footer h5{
        font-size: 100%;
    }
}

@media only screen and (max-width: 992px){
    #Gastronomy .wine-photo img{
        width: 450px;
    }

    #Gastronomy .food-images img{
        height: 95%;
        width: 86%;
    }

    #tips-container img{
        width: 70%;
    }

    #tips-container {
        font-size: 1.1rem;
    }

    /* #travel-container .travel-text{
        padding-right: 0;
    }

    #travel-container h5{
        font-size: 1rem;
    } */
}


@media only screen and (max-width: 1200px){
    #Gastronomy .wine-photo img{
        width: 435px;
    }

    #Gastronomy .food-images img{
        height: 95%;
        width: 100%;
    }

    #tips-container img{
        width: 50%;
    }

    #tips-container {
        font-size: 1.1rem;
    }
}